body {
  background-color: #FFF; /* White background */
  color: #000; /* Black text for general content */
  font-family: 'forma-djr-micro', sans-serif;
}

.huge-title {
  font-size: 15vw;
  font-family: 'forma-djr-micro', sans-serif;
  align-content: center;
  text-align: center;
  }

.small-title{ 
font-size: 10vh;
font-weight: 600 !important;
align-content: center;
text-align: center;
}

.authors-section{
  display: flex;
  flex-direction: row;
  padding-bottom: 10vh;
  justify-content: center; /* Center items horizontally */
  flex-wrap: wrap; /* Ensure items wrap if they don't fit in a single row */
}

@media (max-width: 768px) { /* Adjusts for devices with width 768px or less */
  .authors-section {
    flex-direction: column;
  }
  .huge-title {
    font-size: 15vw; /* Adjust the size as needed */
  }

  .small-title {
    font-size: 8vh; /* Adjust the size as needed */
  }
  .about-us {
    padding-top: 20px; /* Or whatever value you prefer */
  }
}