/* Global styles */
body, h1, h2, h3, p {
    font-family: 'forma-djr-micro', sans-serif;
    
}

/* Container for the blog post */
.post-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #FFF;
    color: #000;
    border: 5px solid #FF6000;
}

/* Content and related posts */
.post-content, .related-posts {
    border: 3px solid #000;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

/* Title of the post */
.post-title {
    font-size: 3em;
    margin-bottom: 20px;
    color: #FF6000;
}

/* Author section */
.post-author {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}

/* Author avatar */
.author-avatar {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

/* Post date */
.post-date {
    margin-bottom: 20px;
    color: #FF6000;
}

/* Main post image */
.post-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}

/* Rich text content */
.post-content {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 30px;
}

/* Images inside the rich text content */
.post-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.post-content p {
    max-width: 100%;

}

/* Related posts section */
.related-posts {
    border-top: 2px solid #FF6000;
    padding-top: 20px;
}

/* Individual related post */
.related-post {
    margin-bottom: 20px;
    background-color: #000;
    padding: 10px;
    border-radius: 10px;
    color: #FFF;
}

/* Related post title */
.related-post h3 {
    color: #FF6000;
}

/* Remove text decoration from links */
.related-post-link {
    text-decoration: none;
    color: inherit;
}

.author-name-link {
    text-decoration: none;
    color: inherit;  /* Optional: to ensure the link takes on the color of its parent */
    cursor: pointer;
}

.author-name-link:hover {
    color: #FF6000;  /* Or any other color that you prefer */
    background-color: #f0f0f0;  /* Or any other light color */
}



