.square {
  border: 5px solid black;
  height: 33.33vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  background-color: white;
  color: black;
  user-select: none;
  font-family: 'Courier New', monospace;
}

.square.rectangle {
  height: 11.11vh; /* 33.33vh (square height) divided by 3 */
}

/* Add a small gap between rectangles for aesthetics */
@media (max-width: 767px) {
  .square.rectangle + .square.rectangle {
    margin-top: 5px;
  }
}

.square:hover {
  background-color: #ff6000;
  color: white;
}

.title {
  font-family: 'Courier New', monospace;
  text-align: left;
  margin-top: 0;
  margin-bottom: auto;
  font-weight: bold;
}

.smaller-text {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-family: 'Arial Black', sans-serif;
  text-align: right;
  width: 100%;
}

/* Updated Homepage Button Design */
.homepage-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #ff6000; /* Orange background */
  border: 2px black;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
  width: 80%;
  margin: 0 auto;
  padding: 10px 10px;
  color: #000000; /* Black text */
}

.homepage-btn:hover {
  background-color: #e55900; /* Slightly darker orange on hover */
  transform: translateY(-5px);
}
