.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative; /* Needed for absolute positioning of the main square */
}

.tech-rebel {
  font-family: 'forma-djr-micro', sans-serif;
  color: #FF6000;
  font-weight: 600;
}


.main-square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25vw; /* 20% of the viewport width */
  height: 20vh; /* 20% of the viewport height */
  z-index: 500; /* Higher than any other element */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: black;
}

.secondary-square-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch; /* This will make the children fill the height */
}

.secondary-square {
  flex: 1 1 50%; /* Fill half the width, adjust the flex-basis to 50% */
  height: 50%; /* Fill half the height of the container */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: white; /* White background */
  border: 1px solid black; /* Black border */
  box-sizing: border-box; /* Include border in the element's dimensions */
  color: black;
  text-decoration: none;

  /* Add other styles... */
}

.home-h2 {
  font-family: 'forma-djr-micro', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.secondary-square:hover {
  background-color: #FF6000; /* Change background color on hover */
  /* You can add transition for a smooth color change */
  transition: background-color 0.3s ease-in-out;
}







/* Responsive design for mobile */
@media (max-width: 767px) {
  .homepage-container {
    flex-direction: column; /* Stack all items vertically */
  }


  .main-square {
    position: static; /* Ensure the square is part of the normal flow */
    top: auto; /* Reset top position */
    left: auto; /* Reset left position */
    transform: none; /* Remove transform */
    width: 100%; /* Full width */
    height: 20vh; /* Match the height of the secondary squares */
    order: -1; /* Ensures it's the first item */
    margin: 0; /* Reset any margin */
    z-index: auto; /* Default stacking without needing a higher z-index */
  }

  .secondary-square {
    flex: 0 0 100%; /* Full width */
    height: 20vh; /* Set a fixed height or adjust as necessary */
    /* Other styles remain the same */
  }

  .secondary-square-container {
    position: static; /* Disable absolute positioning */
    width: 100%; /* Full width */
    /* No need to set height; it will expand to fit its children */
    /* Remove flex-wrap as it's not needed when stacking items */
  }

}