.square {
  border: 2px solid black;
  height: 33.33vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  background-color: white;
  color: black;
  user-select: none;
}

.square.rectangle {
  height: 11.11vh; /* 33.33vh (square height) divided by 3 */
}

/* Add a small gap between rectangles for aesthetics */
@media (max-width: 767px) {
  .square.rectangle + .square.rectangle {
    margin-top: 5px;
  }
}

.square:hover {
  background-color: #ff6000;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Subtle elevation effect */

}

.title {
  font-family: 'Courier New', monospace;
  text-align: left;
  margin-top: 0;
  margin-bottom: auto;
  font-weight: normal;
}

.smaller-text, .homepage-btn {
  font-size: 2rem;
  font-family: 'Roboto Mono', monospace;
  text-align: right;
  width: 100%;
}

/* Updated Homepage Button Design */
.homepage-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #ff6000; /* Orange background */
  border: 1px black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
  width: 80%;
  margin: 0 auto;
  padding: 10px 10px;
  color: #000000; /* Black text */
}

.homepage-btn:hover {
  background-color: #e55900; /* Slightly darker orange on hover */
}


@keyframes jitter {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.title:hover {
  animation: jitter 0.2s infinite;
}

@keyframes flash {
  0% { background-color: #ff6000; }
  25% { background-color: #000; }
  50% { background-color: #ff6000; }
  75% { background-color: #000; }
  100% { background-color: #ff6000; }
}

.empty-square:hover {
  animation: flash 0.5s infinite;
}

.contact-square:hover {
  transform: scale(1.05); /* Subtle scale effect */

  transition: none;
}

.hidden-text {
  font-family: 'Arial Black', sans-serif;
  font-size: 4em; /* Adjust as needed */
  color: white; /* Initially set the color to white to hide it */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* In case the text is too big */
}