.navbar {
  height: 10vh;
  background-color: transparent;
  display: flex;
  justify-content: center;  /* horizontally centers the title */
  align-items: center;      /* vertically centers the title */
  padding: 0 1rem;
  width: 100%;  /* ensure the navbar spans the entire width of its parent */
  z-index: 1000; /* This ensures the navbar is always on top */
    position: relative; /* This is required for z-index to work */
}

.navbar-title {
  font-family: 'Courier New', monospace;
  font-size: 28px;  /* decrease size */
  font-weight: 600; /* adjust weight */
  letter-spacing: 1.5px; 
  text-decoration: none;
  color: #fff;
}