/* OurServicesSection.css */
.our-services-section {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between service items */
    max-width: 80vw;
    margin: 0 auto; /* Center the section within its parent */
    padding: 40px 0px 40px 0px; /* Top padding for the section */
  }
  
  .service-item {
    background-color: #f5f5f5; /* Light grey background */
    border: 2px solid #000; /* Black border as per requirement */
    padding: 20px 40px 20px 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .service-item h3 {
    margin-top: 0;
    color: #000; /* Dark grey color for the title */
  }
  
  /* Additional styling for the rich text content if needed */
  .service-item p {
    color: #000; /* Lighter text for the content */
  }
  
  /* Responsive design: On smaller screens, make the cards stack */
@media (max-width: 760px) {
  .our-services-section {
      max-width: 90vw; /* Full width on smaller screens for the link */
  }

}
