@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.project-card {
  background-color: transparent;  /* Make it transparent */
  color: #000; /* Text color to white */
  border-left: 4px solid #ff6000;  /* Thick border on the left */
  border-top: none;
  border-right: none;
  border-bottom: none;
  padding: 2rem;
  font-family: 'Roboto Mono', monospace;
  width: 100%;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  text-decoration: none;  /* Remove underline */
  animation: fadeIn 0.5s ease-out;
  min-height: 300px;
  position: relative; /* Add this line */
  padding-bottom: 40px; /* Add some padding to make space for the CTA */
}

.project-card:hover {
  border-color: #e55900;  /* Slightly darker orange */
  transform: none; /* Remove the move upwards effect */
}

.project-card:active {
  transform: scale(0.98);  /* Slight scale down */
}

@media (min-width: 768px) {
  .project-card {
      width: 70%; 
      margin: 0 auto 2rem;
  }
}

.project-title {
  font-weight: bold;
}

.project-description {
  font-weight: normal;
  line-height: 1.5;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1.5rem;
}

.project-name {
  font-size: 2rem;
  font-weight: bold;
  color: #ff6000;
  text-decoration: none;  
  margin-bottom: 1rem;
}

.project-status {
  color: #ff6000; /* Change this to your signature orange */
  font-weight: 600; /* Make it slightly bolder than regular text */
  font-size: 1.2rem; /* Optionally adjust the font size if needed */
}

.divider {
  border: none;
  border-top: 2px dashed #ff6000; 
  margin: 1rem 0;
}

.project-info, .project-description {
  line-height: 1.6;
}

.project-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.project-cta {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #ff6000; /* Your signature orange */
  color: #000; /* Black text */
  padding: 5px 15px;
  border: 2px solid black; /* Thick black border */
  font-weight: bold;
  opacity: 1;
  transform: none;
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

/* Hover effect for the CTA */
.project-cta:hover {
  background-color: #e55900; /* Slightly darker orange on hover */
  border-color: #ff6000; /* Change border color on hover */
  transform: translateY(-5px); /* Slight move upwards effect */
}

