.social-square {
  border: 2px solid black;
  height: 33.33vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  background-color: white;
  color: black;
  user-select: none;
  font-family: 'Courier New', monospace;
}

.social-square:hover {
  background-color: #ff6000;
  color: white;
}

.title {
  font-family: 'Courier New', monospace;
  text-align: left;
  margin-top: 0;
  margin-bottom: auto;
  font-weight: bold;
}

.smaller-text {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-family: 'Arial Black', sans-serif;
  text-align: right;
  width: 100%;
}

@media (max-width: 767px) {
  .social-square {
      height: 11.11vh;
  }
}