/* WhoWeServeSection.css */
.who-we-serve-section .cards-container {
  padding: 20px 0px 40px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust the gap between cards as needed */
  }
  
  .service-card {
    flex: 1;
    max-width: calc(30% - 20px); /* Three cards per row with gap adjustment */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 0px;
    border: 2px solid #000;
    background-color: #ff6000; /* Adjust background color as needed */
  }
  
  .service-card h3 {
    color: #fff;
    text-align: center;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .service-card {
      max-width: 90%; /* Full width on smaller screens */
    }
  }
  