.form-page {
    background-color: #ff6000;
    padding-bottom: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button {
    /* ...existing styles... */
    width: calc(1 * (100% / 12));
    margin: 0 auto;
  }