body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-container label,
.form-container input,
.form-container textarea,
.form-container button {
  width: 100%;
  box-sizing: border-box;
}